.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.canvas {
    display: grid;
    gap: 1px; /* Adjust gap as needed */
    background-color: #ddd;
}

.canvas>div {
    background-color: #fff;
    border: 1px solid #aaa;
    aspect-ratio: 1;
}
